@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
</div>

    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Skype">S:</abbr>
        ireznykov
    </address>*@

    <address>
        <strong>Support:</strong>   <a href="mailto:admin@ireznykov.com">admin@ireznykov.com</a><br />
    </address>
